script(crossorigin='anonymous' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' src='https://code.jquery.com/jquery-3.6.0.min.js')
script(src='https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js')
script(src='https://cdn.datatables.net/1.11.3/js/dataTables.bulma.min.js')
section.section.is-medium
    .container
        h1.title
            | Minor Injury Reports...
        p.subtitle
            | Please select a report to view from the list below.
        table#minorInjuryLogReport.table.is-striped.is-fullwidth
            thead
                tr
                    th ID
                    th Report Date
                    th Report Time
                    th Program Name
                    th Program Season/Year
                    th Actions
            tbody
                // SAMPLE ITEM #1
                for item in minorInjuryLogReport
                    tr
                        td #{item.ID}
                        td #{item.ReportDate}
                        td #{item.ReportTime}
                        td #{item.ProgramName}
                        td #{item.ProgramSeasonYear}
                        td
                            .buttons
                                a.button.is-info(href='/') View
                                a.button.is-danger(href='/') Delete

script.
    $(document).ready(function() {
        $('#minorInjuryLogReport').DataTable({"paging": false});
    } );
